html, body, header, #pasos, #contacto {
    width: 100%;
    height: 100%;
}
* {
    font-family: sans-serif;
}
#contacto {
    background-image:  linear-gradient(rgba(64, 64, 64, 0.7),rgba(64, 64, 64, 0.7)), url(../image/large.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 12%;
	font-family: sans-serif;
	
}
.formulario {
    height: 305px;
    width: 90%;
    border-top: 5px solid #0473BF;
    padding: 0 4%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}
.title {
    text-align: left;
    font-family: serif;
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}
.form .row {
    margin: 10px 0;
}
.form input{
	float: right;
	width: 65%;
	font-size: 13px;
}
.form label {
    float: left;
    margin-left: 18px;
    font-size: 14px;
    font-weight: 700;
}
.form label span{
	color:red;
}
.url {
    height: 40px;
}
input.submit {
    width: 100px;
    float: left;
    margin-left: 35%;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: #6987A4;
    border: none;
    border-radius: 3px;
}
input.espaciovacio {
    width: 30%;
    float: left;
    margin-left: 40%;
}
.creditos {
    bottom: 0;
}
.tnr, .tnr a {
    font-family: "Times New Roman", serif;
}
.tnr a {
    color: #6987A4;
    text-decoration: underline;
}
.row input, .row label {
    display: block;
}