@media (min-width: 768px) {
    .formulario {
        height: 260px;
        width: 60%;
    }
}

@media (min-width: 992px) {
    .pd-esp {
        width: 80%;
    }
    .pruebagratis2 {
        height: 132px;
}
    .row input, .row label {
        display: inline-block;
    }
    .formulario {
        height: 260px;
        width: 45%;
    }
}


@media (min-width: 1200px) {
    .pd-esp {
        width: 80%;
    }
    
}

